$bg_c:rgb(62, 62, 62);
$bg_c_light:white;
$c_un:rgb(121, 121, 121);
$c:white;
$size:56px;

@mixin heightAndWidth($px){
    height: $px;
    width: $px;
}

.navbar{
    
    background-color: $bg_c;
    position: fixed;
    width: 100%;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__username{
        color: $c_un;
        font-size: $size/3.2;
        text-align: center;
    }    

    &__link{
        color:white;  
        text-decoration: none;
        font-size: $size/1.3;
        display: flex;
    }
    
    &__logo{
        border-radius: 50px;
        @include heightAndWidth($size);
    }

    &__button{
        font-size: $size/2.7;
        background-color: $bg_c;
        height: 100%;
        border: none;
        color: $c;
        border-radius: 3px;
        transition: all 0.2s;
        &:hover{
            background-color: $bg_c_light;
            color: $bg_c;
            span{
                background-color:$bg_c;
                color: $bg_c_light;
            }
        }
    }

    &__basketcount{
        background-color: $bg_c_light;
        padding: 3px 8px;
        margin-left: 5px;
        border-radius: 50px;
        color:$bg_c;
    }

    @mixin burger($top,$deg) {
        position: absolute; 
        height: 2px;
        width: $size;
        background-color: $bg_c_light;
        display: block;
        border-radius: 50px;
        top: $top;
        transform: rotate($deg);
        transition: all 0.2s;
    }

    &__burger{
        @include heightAndWidth($size);
        display: none;
        position: relative;
        z-index: 8;
        span{
            @include burger($size/2.1,0deg);
        }
        &::after{
            content:'';
            @include burger($size/1.3,0deg);
        }
        &::before{
            content:'';
            @include burger($size/5.6,0deg);
        }
        &.active{
            span{
                @include burger($size/2.1,0deg);
                transform: scale(0);
            }
            &::after{
                content:'';
                @include burger($size/2.1,-45deg);
            }
            &::before{
                content:'';
                @include burger($size/2.1,45deg);
            }
        }
    }
    @media screen and (max-width:730px) {
        &__username{
            font-size: $size/1.6;
        }

        &__button{
            font-size: $size/1.6;
        }

        &__menu{
            position: absolute;     
            width: 100%;
            height: 100vh;
            top:-100vh;
            transition: all 0.4s;
            z-index: -1;
            &.active{
                background-color: $bg_c;
                top: $size;             
                transition: all 0.4s;
            }
        }

        &__auth{
            display: flex;
            flex-direction: column;
            z-index: -2;
        }

        &__burger{
            display: block;
        }

    }
}



