.admin_btn{
    background-color: #3d3d3d;
    padding: 10px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 1px black;
    color:white;  
    font-size: 20px;
    margin: 10px;

}

.admin_btn:hover{
    background-color: #888888;
}

.admin_flex{
    display: flex;
    align-items: center;
    justify-content: center;

   
    
}

.admin_content{
    display: flex;
    flex-direction: column;
}

